<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GourmetApp{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- 必要な CSS や JS ファイルのリンク -->
</head>
<body>
    <header>
        <h1>GourmetApp</h1>
        <!-- ナビゲーションバーなど -->
    </header>
    
    <main class="container my-4">
        {% block content %}
        <!-- コンテンツはここに挿入されます -->
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 GourmetApp</p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- 必要な JavaScript ファイルのリンク -->
</body>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
