/* ヘッダーのスタイル */
header {
    /* padding内側の余白 */
    padding: 10px;
    /* margin外側の余白 */
    margin: 10px;
    /* background-color背景色 */
    background-color: antiquewhite;
}

div#main-container{
    /* 内余白 */
    padding: 10px;
    /* 外余白 */
    margin: 10px;
    background-color:palegreen;
    /*　中のブロックのサイズの自動調整 */
    display: flex;
}

/* メインのスタイル */
main {
    /* ブロックを浮かせて右に寄せる */
    /* float: right; */
    /* 内余白 */
    padding: 10px;
    /* 外余白 */
    margin: 10px auto;
    /* 上下10px、左右auto */
    /* スペースで区切ることで各辺の指定ができる。 */

    /* 横幅 */
    width: 100%;
    /* 背景色 */
    background-color: lavender;
}

article {
    background-color: aqua;
}

section {
    background-color: darkcyan;
}

aside {
    /* ブロックを浮かせて左に寄せる */
    /* float: left; */
    /* 内余白 */
    padding: 10px;
    /* 外余白 */
    margin: 10px;
    width: 200px;
    background-color: goldenrod;
    /* 非表示 */
    /* スマホ対応時デザインが崩れるときに */
    display: none;
}

footer {
    clear: left;
    /* 内余白 */
    padding: 10px;
    /* 外余白 */
    margin: 10px;
    background-color: antiquewhite;
}

/* レスポンシブ対応。異なる画面サイズに適応させる */

/* スクリーンが400pxでサイドが表示されなくなる */
@media screen and (min-width: 400px) {
    aside{
        display: block;
    }
}
/* 画面が1250px超えるとmainの横幅が1000pxに調整される */
@media screen and (min-width: 1250px) {
    main{
        width: 1000px;
    }
}