<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社員管理システム -- 部署一覧 --</title>
</head>
<body>
    <div>
        <ul>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for msg in messages %}
                        <li>{{msg}}</li>
                    {% endfor %}
                </ul>
            {% else %}
            {% endif %}
        {% endwith %}
        </ul>
    </div>
    <div>
        <a href="{{url_for('Create')}}">新規部署登録</a>
    </div>
    <div>
        <a href="{{url_for('index')}}">社員一覧に戻る</a>
    </div>

    {% if depts %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>部署名</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for dept in depts %}
                    <tr>
                        <td>{{dept.id}}</td>
                        <td>{{dept.name}}</td>
                        <td><a href="{{url_for('Update', id=dept.id)}}">更新</a></td>
                        <td><a href="{{url_for('dept_delete', id=dept.id)}}">削除</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        部署データがありません。
    {% endif %}
</body>
</html>
