<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if mode == 1 %}
        <title>部署管理システム -- 新規登録 --</title>
    {% elif mode == 2 %}
        <title>部署管理システム -- 詳細[{{dept.name}}] --</title>
    {% elif mode == 3 %}
        <title>部署管理システム -- 更新[{{dept.name}}] --</title>
    {% endif %}
</head>
<body>
    {% if mode == 1 %}
        {% set name = '' %}
        {% set btnName = '新規登録' %}
    {% elif mode == 2 %}
        {% set name = dept.name %}
        {% set btnName = '更新' %}
    {% elif mode == 3 %}
        {% set name = dept.name %}
        {% set btnName = '更新' %}
    {% endif %}
    <form action="{% if mode == 3 %}{{ url_for('dUpdate', id=dept.id) }}{% endif %}" method="post" onSubmit="return confirmUpdate()">
        <label for="name">部署名：</label>
        <input type="text" name="name" id="name" value="{{name}}" {{readonly}}>
        {% if mode == 2 %}
            <a href="{{url_for('eUpdate', id=data.id)}}">更新</a>
        {% else %}
            <button type="submit">{{btnName}}</button>
        {% endif %}
    </form>
    <!-- もどるボタン -->
    <a href="{{url_for('dept_list.index')}}">戻る</a>
</body>
<script>
    function confirmUpdate() {
        if(window.confirm('送信してよろしいですか？')){ // 確認ダイアログを表示
            return true; // 「OK」時は送信を実行
        }
        else{ // 「キャンセル」時の処理
            window.alert('キャンセルされました'); // 警告ダイアログを表示
            return false; // 送信を中止
            }
    }
</script>
</html>
