{% set title = "カート" %}  <!-- ページタイトルを設定 -->

{% extends 'layout/layout.html' %}  <!-- layout.htmlテンプレートを継承 -->

{% block head %}{% endblock %}  <!-- headブロック：ページごとに追加のヘッダー情報を挿入するためのブロック -->

{% block contents %}
<h1 class="my-4">カート</h1>
<table class="table">
    <!-- テーブルヘッダー -->
    <thead>
        <tr>
            <th>商品名</th>
            <th>価格</th>
            <th>数量</th>  <!-- 数量のヘッダー -->
            <th></th>  <!-- 操作のヘッダー -->
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}  <!-- 各カートアイテムをループで表示 -->
            <tr>
                <td>{{ item.product.name }}</td>  <!-- 商品名を表示 -->
                <td>{{ item.product.price }}円</td>  <!-- 価格を表示 -->
                <td>{{ item.quantity }}</td>  <!-- 数量を表示 -->
                <td>
                <td>
                    <form action="{{ url_for('cart.delete_item', item_id=item.id) }}" method="post">
                        <button type="submit" class="btn btn-danger">削除</button>  <!-- 削除ボタン -->
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>合計金額: {{ total_amount }}円</p>  <!-- 合計金額を表示 -->
<form action="{{ url_for('cart.checkout') }}" method="post">
    <button type="submit" class="btn btn-primary">購入する</button>  <!-- 購入ボタン -->
</form>
{% endblock %}

