<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <title>{{title}} - {{subtitle}}</title>
    
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>
    <main>
        {% block contents %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>

<!-- サイト全体の構成 -->
<!-- 共通してる -->
<!-- ヘッダーやボディの差し替えができる -->