<!-- こっちに実際の中身書く -->
<!-- F12で確認すると、それぞれ書かれている場所わかる -->

{% set title = "ログインページ" %}


<!-- extends拡張機能 -->
<!-- layoutファイルを反映 -->
{% extends 'layout/layout.html' %}

{% block head %}{% endblock %}

<!-- headerファイルを呼び出す -->
{% block header %}
{% include 'Blocks/header.html'   %}
{% endblock %}

{% block contents %}
    <!-- APP2のloginメソッドを呼び出す -->
    <form action="{{ url_for('APP2.login') }}" method="post">
        <label for="id">ID:</label>
        <input type="text" name="id" id="">
        <label for="pw">PW:</label>
        <input type="password
        " name="pw" id="">
        <button type="submit">送信</button>
    </form>
    <p style="color: red;">{{msg}}</p>

    <a href="/">戻る</a>
{% endblock %}

<!-- footerファイルを呼び出す -->
{% block footer %}
{% include 'Blocks/footer.html'   %}
{% endblock %}

<!-- チームで開発するとき、みんなで同じファイルを触ると大変なので分割する -->