<!-- こっちに実際の中身書く -->
<!-- F12で確認すると、それぞれ書かれている場所わかる -->

{% set title = "ログイン成功！" %}


<!-- extends拡張機能 -->
<!-- layoutファイルを反映 -->
{% extends 'layout/layout.html' %}

{% block head %}{% endblock %}

<!-- headerファイルを呼び出す -->
{% block header %}
{% include 'Blocks/header.html'   %}
{% endblock %}

{% block contents %}
    <ul>
        <li>ID:{{id}}</li>
        <li>PASS:{{pw}}</li>
    </ul>

    <a href="/">ホームへ</a>
{% endblock %}

<!-- footerファイルを呼び出す -->
{% block footer %}
{% include 'Blocks/footer.html'   %}
{% endblock %}

<!-- チームで開発するとき、みんなで同じファイルを触ると大変なので分割する -->