<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部署管理システム -- リスト --</title>
</head>
<body>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for msg in messages %}
                        <li>{{msg}}</li>
                    {% endfor %}
                </ul>
            {% else %}
            {% endif %}
        {% endwith %}
    </div>
    <div>
        <button><a href="{{url_for('DEPT_CRUD.dCreate')}}">部署登録</a></button>
        <button><a href="{{url_for('DEPT_CRUD.dDelete')}}">一括管理</a></button>
    </div>
    {% if datas %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>部署名</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    <tr>
                        <td>{{data.id}}</td>
                        <td>{{data.name}}
                            {% if data.del_flag == 1 %}
                                [削除済み]
                            {% endif %}
                        </td>
                        <td><a href="{{url_for('DEPT_CRUD.dUpdate',id=data.id)}}">更新</a></td>
                        <td><a href="{{url_for('DEPT_CRUD.delete',id=data.id)}}">削除</a></td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        データがありません。
    {% endif %}
    <div>
        <button><a href="{{ url_for('index') }}">従業員一覧に戻る</a></button>
    </div>
</body>
</html>