name: Sync to Google Drive

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Zip Repository
        run: zip -r repository.zip . -x "*.git*"

      # JSONを生データのまま受け取れるロボットに変更
      - name: Upload to Google Drive
        uses: Tofunmi-f/google-drive-upload-action@v1
        with:
          credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
          folderId: ${{ secrets.GDRIVE_FOLDER_ID }}
          filename: repository.zip
          overwrite: true